/* SignIn.module.css */

.signInContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: #f9fbfd;
    position: relative;
    overflow: hidden;
  }
  
  .formContainer {
    flex: 1;
    padding: 2rem;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 40rem;
    margin: auto;
  }
  
  .infoContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9fbfd;
    text-align: center;
    padding: 2rem;
  }
  
  .logo {
    width: 200px; /* Increased logo size */
    height: auto;
    margin-bottom: 1rem;
  }
  
  .title {
    font-weight: bold;
    font-size: 2.25rem; /* Increased font size */
    margin-top: 1rem;
  }
  
  .subText {
    color: #666;
    font-size: 1.2rem;
  }
  
  .buttonWrapper {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  .buttonConnect {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    background-color: #3e2272;
    transition: background-color 0.3s ease;
  }
  
  .buttonConnect:hover {
    background-color: #f7c600; 
}
  .header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .input {
    margin-bottom: 1rem;
    width:80%;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }
  
  .forgotPassword {
    color: #3e2272;
    font-size: 0.9rem;
  }
  
  .alert {
    margin-bottom: 1rem;
  }
  
  .button {
    margin-top: 1rem;
    width:80%;
  }
  
  .footerText {
    text-align: center;
    margin-top: 25px;
    
  }
  